# Necessary modules and environment params

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("../")

In [3]:
from src.data_pipeline.DataLoader import DataLoader
from src.utility.sys_utils import get_spark

# import your model
from src.model.ALS_MF import ALS_MF
from src.model.KNN import KNN
from src.model.BaseLine import BaseLine

# import training pipeline
from src.data_pipeline.pipeline import cross_validation, test_evaluation

# import result checking tools
from src.utility.Summary import Summary

# Load whole data from the text file

In [4]:
spark = get_spark(cores=4)  # change cores up to 6 if needed

In [5]:
# remember to specify the config file under the config/ dir, make sure all 
data_loader = DataLoader(spark, "ml-20m-5p", config_name="default_config.json")

Using sampled subset with 6.896900E+04 records
Using split of range (0, 0.2), test set contains 19365 of 68969 records in total.

# Construct Model

In [6]:
als_params = {
    "rank": 64,
    "maxIter": 15,
    "regParam": 0.05,
    "num_neg": 0
}

In [7]:
als = ALS_MF(als_params)

In [8]:
knn = KNN({"k":20})

In [9]:
bl = BaseLine({"model": "count_rank_rating"})

# Cross validation

In [10]:
cross_validation(data_loader, als, spark, k_fold=5, top_k=10)

Using split of range [0.0, 0.2], test set contains 14810 of 49604 records in total.
Using cached file from /home/ds2019/log/ml-20m-5p/ALS_MF/maxIter_15-num_neg_0-rank_64-regParam_0.05/Ranking_fold_0.parquet
Using cached file from /home/ds2019/log/ml-20m-5p/ALS_MF/maxIter_15-num_neg_0-rank_64-regParam_0.05/Rating_fold_0.parquet
Using split of range [0.2, 0.4], test set contains 8402 of 49604 records in total.
Using cached file from /home/ds2019/log/ml-20m-5p/ALS_MF/maxIter_15-num_neg_0-rank_64-regParam_0.05/Ranking_fold_1.parquet
Using cached file from /home/ds2019/log/ml-20m-5p/ALS_MF/maxIter_15-num_neg_0-rank_64-regParam_0.05/Rating_fold_1.parquet
Using split of range [0.4, 0.6], test set contains 8407 of 49604 records in total.
Using cached file from /home/ds2019/log/ml-20m-5p/ALS_MF/maxIter_15-num_neg_0-rank_64-regParam_0.05/Ranking_fold_2.parquet
Using cached file from /home/ds2019/log/ml-20m-5p/ALS_MF/maxIter_15-num_neg_0-rank_64-regParam_0.05/Rating_fold_2.parquet
Using split of range [0.6, 0.8], test set contains 8402 of 49604 records in total.
Using cached file from /home/ds2019/log/ml-20m-5p/ALS_MF/maxIter_15-num_neg_0-rank_64-regParam_0.05/Ranking_fold_3.parquet
Using cached file from /home/ds2019/log/ml-20m-5p/ALS_MF/maxIter_15-num_neg_0-rank_64-regParam_0.05/Rating_fold_3.parquet
Using split of range [0.8, 1.0], test set contains 12899 of 49604 records in total.
Using cached file from /home/ds2019/log/ml-20m-5p/ALS_MF/maxIter_15-num_neg_0-rank_64-regParam_0.05/Ranking_fold_4.parquet
Using cached file from /home/ds2019/log/ml-20m-5p/ALS_MF/maxIter_15-num_neg_0-rank_64-regParam_0.05/Rating_fold_4.parquet

defaultdict(list,
            {'ndcg@10': [0.01483122753971261,
              0.007585024522262664,
              0.009230603021243594,
              0.007088368306926822,
              0.013283914161411723],
             'precision@10': [0.0041849840578039406,
              0.0023120511609765345,
              0.0027059623454624006,
              0.0021220195587044913,
              0.0037072842985693124]})

# Check evaluation results from the database

In [11]:
summary = Summary(data_loader.get_config().db_path)
summary.summarize_cv("ml-20m-5p", ["ndcg@10"])

,model,hyper,metric,mean,std,rnk
57,KNN,"[('k', 30)]",ndcg@10,0.015035,0.002261,1.0
53,KNN,"[('k', 10)]",ndcg@10,0.015035,0.002261,2.0
54,KNN,"[('k', 15)]",ndcg@10,0.015035,0.002261,3.0
56,KNN,"[('k', 25)]",ndcg@10,0.015035,0.002261,4.0
55,KNN,"[('k', 20)]",ndcg@10,0.015035,0.002261,5.0
58,KNN,"[('k', 5)]",ndcg@10,0.015035,0.002261,6.0
51,BaseLine,"[('model', 'avg_rating')]",ndcg@10,0.010987,0.001144,7.0
52,BaseLine,"[('model', 'count_rank_rating')]",ndcg@10,0.010987,0.001144,8.0
9,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 32)...",ndcg@10,0.009711,0.001018,9.0
4,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 16)...",ndcg@10,0.009705,0.001017,10.0
14,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 4),...",ndcg@10,0.009703,0.001015,11.0
19,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 64)...",ndcg@10,0.009698,0.001021,12.0
39,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 4),...",ndcg@10,0.009693,0.001010,13.0
29,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 16)...",ndcg@10,0.009688,0.001022,14.0
44,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 64)...",ndcg@10,0.009683,0.001011,15.0
24,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 8),...",ndcg@10,0.009682,0.001011,16.0
43,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 64)...",ndcg@10,0.009680,0.001021,17.0
32,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 32)...",ndcg@10,0.009676,0.001000,18.0
8,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 32)...",ndcg@10,0.009676,0.001008,19.0
2,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 16)...",ndcg@10,0.009676,0.001032,20.0
17,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 64)...",ndcg@10,0.009674,0.001008,21.0
3,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 16)...",ndcg@10,0.009674,0.000997,22.0
18,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 64)...",ndcg@10,0.009668,0.001010,23.0
34,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 32)...",ndcg@10,0.009667,0.001003,24.0
7,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 32)...",ndcg@10,0.009665,0.001026,25.0
33,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 32)...",ndcg@10,0.009665,0.001009,26.0
49,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 8),...",ndcg@10,0.009664,0.000995,27.0
27,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 16)...",ndcg@10,0.009663,0.000981,28.0
41,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 64)...",ndcg@10,0.009658,0.000993,29.0
42,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 64)...",ndcg@10,0.009652,0.000994,30.0
48,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 8),...",ndcg@10,0.009644,0.000954,31.0
23,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 8),...",ndcg@10,0.009642,0.000976,32.0
16,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 64)...",ndcg@10,0.009631,0.000974,33.0
13,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 4),...",ndcg@10,0.009624,0.000960,34.0
15,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 64)...",ndcg@10,0.009619,0.001013,35.0
28,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 16)...",ndcg@10,0.009612,0.000976,36.0
50,ALS_MF,"[('maxIter', 15), ('rank', 64), ('regParam', 0...",ndcg@10,0.009602,0.000866,37.0
38,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 4),...",ndcg@10,0.009601,0.000918,38.0
40,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 64)...",ndcg@10,0.009600,0.000964,39.0
47,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 8),...",ndcg@10,0.009594,0.000924,40.0
6,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 32)...",ndcg@10,0.009589,0.000956,41.0
22,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 8),...",ndcg@10,0.009576,0.001013,42.0
31,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 32)...",ndcg@10,0.009564,0.000917,43.0
12,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 4),...",ndcg@10,0.009470,0.000936,44.0
37,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 4),...",ndcg@10,0.009431,0.001000,45.0
30,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 32)...",ndcg@10,0.009410,0.000864,46.0
5,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 32)...",ndcg@10,0.009388,0.000819,47.0
26,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 16)...",ndcg@10,0.009296,0.000989,48.0
1,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 16)...",ndcg@10,0.009235,0.000809,49.0
36,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 4),...",ndcg@10,0.009227,0.001188,50.0
11,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 4),...",ndcg@10,0.009128,0.000850,51.0
21,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 8),...",ndcg@10,0.009111,0.000908,52.0
46,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 8),...",ndcg@10,0.009084,0.000943,53.0
35,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 4),...",ndcg@10,0.009048,0.001083,54.0
10,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 4),...",ndcg@10,0.008973,0.000869,55.0
0,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 16)...",ndcg@10,0.008832,0.000941,56.0
45,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 8),...",ndcg@10,0.008709,0.000727,57.0
25,ALS_MF,"[('maxIter', 15), ('num_neg', 3), ('rank', 16)...",ndcg@10,0.008700,0.000879,58.0
20,ALS_MF,"[('maxIter', 15), ('num_neg', 0), ('rank', 8),...",ndcg@10,0.008649,0.000926,59.0

# Finally train model using all training data, and evaluate on test data

In [12]:
best_params = {
    "rank": 16,
    "maxIter": 15,
    "regParam": 0.05,
    "num_neg": 0
}

als_final = ALS_MF(best_params)

In [13]:
test_evaluation(data_loader, als_final, spark, top_k=10, force_rewrite=True, oracle_type=None)

Rewriting files in /home/ds2019/log/ml-20m-5p/ALS_MF/maxIter_15-num_neg_0-rank_16-regParam_0.05/Ranking_fold_-1.parquet
Rewriting files in /home/ds2019/log/ml-20m-5p/ALS_MF/maxIter_15-num_neg_0-rank_16-regParam_0.05/Rating_fold_-1.parquet

ChainMap({'ndcg@10': 0.011559062754521145, 'precision@10': 0.003460713589393645}, {})