In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("../")

In [6]:
from src.utility.Summary import Summary

In [4]:
db_paths = ["sqlite:///" + p for p in ["default_server.db", "new_server.db"]]

In [14]:
results_default = Summary(db_paths[0]).drop_dupicate_results()

In [15]:
results_default.head()

              dataset            ...                                     ts
0  user_10_item_1_exp            ...             2019-12-14 22:24:21.891581
1  user_10_item_1_exp            ...             2019-12-14 22:24:21.892773
2  user_10_item_1_exp            ...             2019-12-14 22:24:21.933194
3  user_10_item_1_exp            ...             2019-12-14 23:46:09.847732
4  user_10_item_1_exp            ...             2019-12-14 23:46:09.848187

[5 rows x 8 columns]

In [21]:
results_default.to_csv("results_default.csv", header=True, index=False)

In [16]:
results_new = Summary(db_paths[1]).drop_dupicate_results()

In [19]:
results_new.head()

              dataset            ...                                     ts
0  user_10_item_1_exp            ...             2019-12-15 21:39:54.376275
1  user_10_item_1_exp            ...             2019-12-15 21:39:54.385861
2  user_10_item_1_exp            ...             2019-12-15 21:52:36.102647
3  user_10_item_1_exp            ...             2019-12-15 21:52:36.103137
4  user_10_item_1_exp            ...             2019-12-15 21:52:36.111569

[5 rows x 8 columns]

In [22]:
results_new.to_csv("results_new.csv", header=True, index=False)