In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("../")

In [3]:
from src.utility.Summary import Summary

In [4]:
db_paths = ["sqlite:///results/" + p for p in ["default_server.db", "new_server.db"]]

In [5]:
results_default = Summary(db_paths[0]).drop_dupicate_results()

In [6]:
results_default.head()

,dataset,model,hyper,metric,value,fold,path,ts
0,user_10_item_1_exp,CollectiveMF_Item,"[('k', 5), ('reg_param', 0.0001), ('w_main', 1...",ndcg@10,0.123180,-1,/media/ExtHDD01/log/user_10_item_1_exp/Collect...,2019-12-14 22:24:21.891581
1,user_10_item_1_exp,CollectiveMF_Item,"[('k', 5), ('reg_param', 0.0001), ('w_main', 1...",precision@10,0.023056,-1,/media/ExtHDD01/log/user_10_item_1_exp/Collect...,2019-12-14 22:24:21.892773
2,user_10_item_1_exp,CollectiveMF_Item,"[('k', 5), ('reg_param', 0.0001), ('w_main', 1...",rmse,1.424648,-1,/media/ExtHDD01/log/user_10_item_1_exp/Collect...,2019-12-14 22:24:21.933194
3,user_10_item_1_exp,CollectiveMF_User,"[('k', 4), ('reg_param', 0.0001), ('w_main', 0...",ndcg@10,0.115833,-1,/media/ExtHDD01/log/user_10_item_1_exp/Collect...,2019-12-14 23:46:09.847732
4,user_10_item_1_exp,CollectiveMF_User,"[('k', 4), ('reg_param', 0.0001), ('w_main', 0...",precision@10,0.022114,-1,/media/ExtHDD01/log/user_10_item_1_exp/Collect...,2019-12-14 23:46:09.848187

In [11]:
results_default.to_csv("./results/results_default.csv", header=True, index=False)

In [8]:
results_new = Summary(db_paths[1]).drop_dupicate_results()

In [9]:
results_new.head()

,dataset,model,hyper,metric,value,fold,path,ts
0,user_10_item_1_exp,FMItem,"[('model_info_used', 'Item'), ('n_iter', 10)]",precision@10,0.032249,-1,/home/data/log/user_10_item_1_exp/FMItem/model...,2019-12-15 21:39:54.376275
1,user_10_item_1_exp,FMItem,"[('model_info_used', 'Item'), ('n_iter', 10)]",rmse,131.929279,-1,/home/data/log/user_10_item_1_exp/FMItem/model...,2019-12-15 21:39:54.385861
2,user_10_item_1_exp,BPR,"[('factors', 20), ('iteration', 20), ('learnin...",ndcg@10,0.044866,-1,/home/data/log/user_10_item_1_exp/Test_implici...,2019-12-15 21:52:36.102647
3,user_10_item_1_exp,BPR,"[('factors', 20), ('iteration', 20), ('learnin...",precision@10,0.008741,-1,/home/data/log/user_10_item_1_exp/Test_implici...,2019-12-15 21:52:36.103137
4,user_10_item_1_exp,BPR,"[('factors', 20), ('iteration', 20), ('learnin...",rmse,0.998907,-1,/home/data/log/user_10_item_1_exp/Test_implici...,2019-12-15 21:52:36.111569

In [12]:
results_new.to_csv("./results/results_new.csv", header=True, index=False)